<style>
	.collaberations{
		float:right;
		margin-right: 80px;
		background-color: lightgrey;
        width: 40%

       
	}

	.notifications{
		float: left;
		background: lightgrey;
		width: 40%;
		margin-left: 80px;

	}
</style>




<h1>
	Notifications 
</h1>


<div class="notifications">
	<strong>NOTIFICATIONS</strong>
<ul>
	<% @notifications.each do |notif| %>
       <li><h1><%=notif.description%></h1></li>

	<%end%>
</ul>
</div>


 <div class="collaberations">
 	<strong>REQUESTS</strong>
<% if @collaborations.empty? %>
  
  <h2>No pending Collaboration requests.</h2>
<% else %>
  <ul>
    <% @collaborations.each do |collab, hash| %>
      <h1><%= hash[:user] %> wants to collaborate on <%= hash[:project] %>.</h1>
      
      <%= form_tag collaboration_path(collab), method: :patch do %>
        <%= hidden_field_tag :'notification[project_id]', "" %>
        <%= hidden_field_tag :'notification[user_id]', '0' %>
        <%= hidden_field_tag :'notification[relation]', "creator" %>
        <%= hidden_field_tag :'notification[not_type]', 'answer' %>
        <%= hidden_field_tag :'notification[description]', "" %>
        <%= submit_tag "accept" %>
      <% end %>

      <%= form_tag destroy_collaboration_path(collab), method: :delete do %>
        <%= hidden_field_tag :'notification[project_id]', "" %>
        <%= hidden_field_tag :'notification[user_id]', '0' %>
        <%= hidden_field_tag :'notification[relation]', "collaborator" %>
        <%= hidden_field_tag :'notification[not_type]', 'answer' %>
        <%= hidden_field_tag :'notification[description]', "" %>
        <%= submit_tag "Deny" %>
      <% end %>

    <% end %>
  </ul>
</div>
<% end %>