<style>
	.pending_collaborations{
		float:right;
		margin-right: 80px;
		background-color: lightgrey;
		width: 30%;
       

       
	}

	.notifications{
		float: left;
		background: lightgrey;
		width: 30%;
		margin-left: 80px;

	}

	.invited_collaborations{
		
		background: lightgrey;
		width: 250px;

		

       å
	}

	
 
	
</style>




<h1>
	Notifications 
</h1>


<div class="notifications">
	<strong>Notifications</strong>
	<% @notifications.each do |notif| %>
	  
		<ul>
			<li>
       <h1><%=notif.description%></h1> 
           <li>
       <ul>
       
   
	<%end%>

</div>


 <div class="pending_collaborations">
 	<strong>Collaborations</strong>
<% if @pending_collaborations.empty? %>  
  <h1>No pending Collaboration requests.</h1>
<% else %>
  <ul>
    <% @pending_collaborations.each do |collab, hash| %>
      <h1><%= hash[:user] %> wants to collaborate on <%= hash[:project] %>.<h1>     
      <%= form_tag collaboration_path(collab), method: :patch do %>
        <%= hidden_field_tag :'notification[project_id]', "" %>
        <%= hidden_field_tag :'notification[user_id]', '0' %>
        <%= hidden_field_tag :'notification[relation]', "creator" %>
        <%= hidden_field_tag :'notification[not_type]', 'answer' %>
        <%= hidden_field_tag :'notification[description]', "" %>
        <%= submit_tag "accept" %>
      <% end %>

      <%= form_tag destroy_collaboration_path(collab), method: :delete do %>
        <%= hidden_field_tag :'notification[project_id]', "" %>
        <%= hidden_field_tag :'notification[user_id]', '0' %>
        <%= hidden_field_tag :'notification[relation]', "collaborator" %>
        <%= hidden_field_tag :'notification[not_type]', 'answer' %>
        <%= hidden_field_tag :'notification[description]', "" %>
        <%= submit_tag "Deny" %>
      <% end %>

    <% end %>
  </ul>
<% end %>
</div>
<center>
<div class="invited_collaborations">
<% if @invited_collaborations.empty? %>  
  <h1>No Collaboration invites </h1>
<% else %>
  <ul>
    <% @invited_collaborations.each do |collab, hash| %>
      <%= hash[:user] %> wants to collaborate on <%= hash[:project].title %>.      
      <%= form_tag collaboration_path(collab), method: :patch do %>
        <%= hidden_field_tag :'notification[project_id]', "" %>
        <%= hidden_field_tag :'notification[user_id]', '0' %>
        <%= hidden_field_tag :'notification[relation]', "creator" %>
        <%= hidden_field_tag :'notification[not_type]', 'answer' %>
        <%= hidden_field_tag :'notification[description]', "" %>
        <%= submit_tag "accept" %>
      <% end %>

      <%= form_tag destroy_collaboration_path(collab), method: :delete do %>
        <%= hidden_field_tag :'notification[project_id]', "" %>
        <%= hidden_field_tag :'notification[user_id]', '0' %>
        <%= hidden_field_tag :'notification[relation]', "collaborator" %>
        <%= hidden_field_tag :'notification[not_type]', 'answer' %>
        <%= hidden_field_tag :'notification[description]', "" %>
        <%= submit_tag "Deny" %>
      <% end %>

    <% end %>


    
  </ul>
</div>
<% end %>
</center>