<style>
	.pending_collaborations{
		float:right;
		margin-right: 80px;
		background-color: lightgrey;
        width: 40%

       
	}

	.notifications{
		float: left;
		background: lightgrey;
		width: 40%;
		margin-left: 80px;

	}

	li {
		margin-top: 10px;
	}

	
</style>




<h1>
	Notifications 
</h1>


<div class="notifications">
	<strong>Notifications</strong>
	<% @notifications.each do |notif| %>
	  
		<ul>
			<li>
       <h1><%=notif.description%></h1> 
           <li>
       <ul>
       
   
	<%end%>

</div>


 <div class="pending_collaborations">
<% if @pending_collaborations.empty? %>  
  <h2>No pending Collaboration requests.</h2>
<% else %>
  <ul>
    <% @pending_collaborations.each do |collab, hash| %>
      <%= hash[:user] %> wants to collaborate on <%= hash[:project] %>.      
      <%= form_tag collaboration_path(collab), method: :patch do %>
        <%= hidden_field_tag :'notification[project_id]', "" %>
        <%= hidden_field_tag :'notification[user_id]', '0' %>
        <%= hidden_field_tag :'notification[relation]', "creator" %>
        <%= hidden_field_tag :'notification[not_type]', 'answer' %>
        <%= hidden_field_tag :'notification[description]', "" %>
        <%= submit_tag "accept" %>
      <% end %>

      <%= form_tag destroy_collaboration_path(collab), method: :delete do %>
        <%= hidden_field_tag :'notification[project_id]', "" %>
        <%= hidden_field_tag :'notification[user_id]', '0' %>
        <%= hidden_field_tag :'notification[relation]', "collaborator" %>
        <%= hidden_field_tag :'notification[not_type]', 'answer' %>
        <%= hidden_field_tag :'notification[description]', "" %>
        <%= submit_tag "Deny" %>
      <% end %>

    <% end %>
  </ul>
</div>
<% end %>