

<div class="profile-header">
  <center>
    <div>
      <%= gravatar_for @user %>
    </div>
    <div>
      <h1><%= @user.name %></h1>
    </div>
    <div class="profile-summary">
      <%= @user.summary %>
    </div>
  </center>
</div>

<div class="profile-skills">
  <h1>Skills</h1>
    <ul>
      <% @user.skills.each do |skill|%>
        <li>
        <%= skill.skill %>
        </li>
      <% end %>
    </ul>
    <% if @user == @current_user %>
      <div>Add Skills:</div>
        <form class="profile-skills-button"action='/skills/user/<%= @current_user.id %>' method="post" >
          <input type="text" name="skill[skill]" placeholder="Enter Skill">
          <input type="hidden" name="user_id" value="<%= @current_user.id %>">
          <%= token_tag %>
          <input type="submit">
        </form>
       <% end %> 
</div>

<div class="profile-info">
  <h1>Information</h1>
  <div>
     <%= @user.location %>
  </div>
  <div>
    <%= @user.website %>
  </div>
  <div>
    <% if @user == current_user %>
      <%= link_to "Edit Information", edit_user_path(current_user) %>
      <% else %>
      <% nil %>
    <% end %>
  </div>
</div>

<div class="profile-projects">
  <h1>Projects</h1>
  <% if @user == current_user %>
    <div>
      <%= link_to 'New Project', new_project_path %>
    </div>
  <% end %>
  <div>
    <ul>
      <% @user.projects.each do |project| %>
        <li>
          <a href="<%= project_path(project) %>">
          <%= project.title  %>
        </li>
      <% end %>
    </ul>
  </div>
  <% if !@my_projects.empty? && @current_user != @user%>
    <form action='/collaborations/create' method='post' >
      <%= token_tag %>
      <select name='collaboration[project_id]'>
        <% @my_projects.each do |proj| %>
          <option value='<%= proj.id %>'><%= proj.title %></option>
        <% end %>
      </select>
      <input type='hidden' name='collaboration[user_id]' value='<%= @user.id %>' />
      <input type='hidden' name='collaboration[status]' value='invited' />
      <input type='hidden' name='notification[user_id]' value='<%= @user.id %>' />
      <input type='hidden' name='notification[not_type]' value='request' />
      <input type='hidden' name='notification[relation]' value='collaborator' />
      <input type='submit' />
    </form>
  <% end %>
</div>



