

<div class="profile-header">
  <center>
    <div>
      <%= gravatar_for @user %>
    </div>
    <div>
      <h1><%= @user.name %></h1>
    </div>
    <div>
      <%= @user.summary %>
    </div>
  </center>
</div>

<div class="profile-skills">
  <h1>My Skills</h1>
    <p>Skills list here</p>
  <div>Enter Skills:</div>
    <form action='/skills/user/<%= @current_user.id %>' method="post" >
      <input type="text" name="skill[skill]" placeholder="Enter Skill">
      <input type="hidden" name="user_id" value="<%= @current_user.id %>">
      <%= token_tag %>
      <input type="submit">
    </form> 
</div>

<div class="profile-info">
  <h1>My Information</h1>
  <div>
     <%= @user.location %>
  </div>
  <div>
    <%= @user.website %>
  </div>
  <div>
    <%= link_to "Profile Settings", edit_user_path(current_user) %>
  </div>
</div>

<div class="profile-projects">
  <h1>Projects</h1>
  <div>
    <%= link_to 'New Project', new_project_path %>
  </div>
  <div>My Projects:</div>
    <p>Projects list here</p>
</div>



