
<style>

.center{
  margin-top: 10px;
  background-color: black;
  color:white;
  margin-left: 30px;
  margin-right: 30px;


}

h1 {
  font-size: 40px;
  margin-top: 10px;
}

</style>





<center>
 

    <div>
      <h1 class="name">
        <%= @user.name %>
      </h1>
    </div>
  </div>
</center>
   

<div class="center jumbotron">
<div class="avatar">
 <center>
    <%= gravatar_for @user %>
 </center>
</div>




 
<center>
<div class="location">
   <%= @user.location %>
</div>

<div class="website">
  <%= @user.website %>
</div>
<div>
  <%= link_to 'New Project', new_project_path %>
</div>
<div>
<%= link_to "Profile Settings", edit_user_path(current_user) %>
</div>
<h1>
</center>
 
 
 <center>
  <div class="summary">
    <%= @user.summary %>
  </div>
 </center>
 
</div>

</h1>

<center>
  <form action='/skills/user' method="post" >
    <select name="skill[skill]">
      <option value="carpentry">carpentry</option>
      <option value="design">design</option>
      <option value="whittling">whittling</option>
      <option value="barn-raising">barn-raising</option>
    </select>
    <input type="hidden" name="user_id" value="<%= @current_user.id %>">
    <%= token_tag %>
    <input type="submit">
  </form>
</center>


</body>