<%= link_to "Log out", logout_path, method: :delete %>
<%= link_to 'New Project', new_project_path %>
<li><%= link_to "Profile Settings", edit_user_path(current_user) %></li>
<li><%= link_to "Users", users_path %></li>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
  <%= @user.summary %>
  <%= @user.location %>
  <%= @user.website %>

</h1>


  <form action='/skills/user' method="post" >
    <select name="skill[skill]">
      <option value="carpentry">carpentry</option>
      <option value="design">design</option>
      <option value="whittling">whittling</option>
      <option value="barn-raising">barn-raising</option>
    </select>
    <input type="hidden" name="skill[user_id]" value="<%= @current_user.id %>">
    <%= token_tag %>
    <input type="submit">
  </form>