

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Collaborators</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

    



  <tbody>
    <% @projects.each do |project| %>
        
      <a href="<%= project_path(project) %>">
        <div class="center jumbotron"><h1><%= project.title %></h1></div>
      </a>
        <!-- <td><%= project.description %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.collaborators %></td>
        <td><%= project.user %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
    <% end %>
<!--   </tbody>
</table> -->
