<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Collaborators:</strong>
  <%= @project.collaborators %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.name %>
</p>


<% if @user_relation == "owner" %>
  <form action='/skills/project' method="post" >
    <select name="skill[skill]">
      <option value="carpentry">carpentry</option>
      <option value="design">design</option>
      <option value="whittling">whittling</option>
      <option value="barn-raising">barn-raising</option>
    </select>
    <input type="hidden" name="skill[project_id]" value="<%= @project.id %>">
    <%= token_tag %>
    <input type="submit">
  </form>
<% end %>

<% if @comments.empty? %>
  No comments on this project yet...
<% else %>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <%= comment.body %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @user_relation %>
  <form action='<%= new_comment_path %>' method='post' >
    <textarea rows='3' cols='15' name='comment[body]'/>Add a comment...
    </textarea>
    <%= token_tag %>
    <input type='hidden' name='comment[user_id]' value='<%= @current_user.id %>' />
    <input type='hidden' name='comment[project_id]' value='<%= @project.id %>' />
    <input type='submit' value='Comment!' />
  </form>
  <% if @comments.empty? %>
    No comments on this project yet...
  <% else %>
    <ul>
      <% @comments.each do |comment| %>
        <li>
          <%= User.find(comment.user_id).name %>: <%= comment.body %>
          <%= button_to "delete comment", {:controller => :comments,
        :action => 'destroy', 
        :id => comment.id,
        :params => {project_id: @project.id} }, :method => :delete %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if @user_relation == "owner" %>
  <%= button_to "delete project", {:controller => :projects,
      :action => 'destroy', 
      :id => @project.id }, :method => :delete %>
<% elsif @user_relation == "collaborator" %>
  <%= button_to "Leave", {:controller => :collaborations,
      :action => 'destroy', 
      :id => @collaboration.id }, :method => :delete %>
<% else %>
  <%= button_to "Collaborate!", '/collaborations/create', :class => "button", 
  :method => :post, params: {:"collaboration[user_id]" => @current_user.id,
                            :'collaboration[project_id]' => @project.id,
                            :'collaboration[status]' => "pending"}  %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> 
<%= link_to 'Back', projects_path %>
